<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

<!-- 툴마다 사용법이 다른데 외부 라이브러리를 통한 사용법 통일을 하는 방법 slf4j -->
<!-- 콘솔출력과 동시에 파일 출력을 하는 설정 예시 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>d:/myfolder/testFile.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- web06프로젝트 info형태의 로그들을 추가로 기록하도록 설정하겠다. -->
  <logger name="web06" level="info"/>
	
<!-- 	debug 레벨 이상의 레벨은 STDOUT형태로 출력, 기록하겠다 (걸러서 볼 수 있는 필터 같은 역할)  -->
  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>