<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>web04</display-name>
  <welcome-file-list>
  	<!-- xml = markup language 웹 어플리케이션의 설정을 태그를 통해 할 수 있는 파일 -->
  	<!-- context 루트만으로 URL접근이 가능한 이유 /아래 나열된 루트들은 context기본값으로 인지하게 됨  -->
    <welcome-file>welcome.jsp</welcome-file>
  	</welcome-file-list>
    
    <!-- 서블릿의 이름을 설정해주는 공간 -->
    <servlet>
    	<servlet-name>HelloServlet</servlet-name>
    	<servlet-class>web04.HelloServlet</servlet-class>
    </servlet>
    
    <!-- url 매칭을 통해 요청된 url의 서블릿의 클래스 이름을 찾아 실행흐름을 서블릿태그 안으로 돌아가게 함 -->
    <servlet-mapping>
    	<servlet-name>HelloServlet</servlet-name>
    	<url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>